<div
  class="d-flex row row-cols-2 justify-content-between rounded-2 bg-dark p-4 w-auto h-auto overflow-hidden"
  style="max-height: 500px; max-width: 500px"
>
  <mat-form-field
    color="accent"
    class="w-auto row me-5"
    style="min-width: 150px"
  >
    <mat-label>Nome</mat-label>
    <input
      matInput
      #equipmentName
      type="text"
      class="text-light"
      aria-label="equipment-name"
    />
  </mat-form-field>

  <button
    class="flex btn btn-outline-warning w-auto flex-row"
    (click)="onConfirmClicked(equipmentName.value)"
  >
    Criar
  </button>
</div>
