<div
  class="col justify-content-between rounded-2 bg-dark p-4 h-auto overflow-auto yellow-scrollbar-thin px-4"
  style="min-height: 300px; max-height: 500px; width: 600px"
>
  <p
    class="dialog-title d-flex text-white text-center enigma-font flex-row fw-bold w-100 col mb-3"
  >
    Rolando dados
  </p>
  <div class="dice-row px-4 mt-3 py-2" style="min-height: 150px">
    <div
      #diceDiv
      class="d-flex flex-column flex-wrap justify-content-center mb-3 rounded-circle"
      style="width: fit-content; height: fit-content; position: relative"
      *ngFor="
        let _ of [].constructor(data.diceResultList.length);
        let i = index
      "
    >
      <div
        class="fs-3 text-white text-center drawn-font text-shadow-4"
        style="
          position: absolute;
          z-index: 10;
          top: 40%;
          text-align: center;
          width: 100%;
        "
      >
        {{ data.diceResultList[i] }}
      </div>
      <app-dice-animation
        [diceImageUrl]="
          './../../../../assets/dado.gif' +
          '?timestamp=' +
          timestamp +
          '&diceScreen=' +
          diceInScreenTime
        "
      >
      </app-dice-animation>
    </div>
  </div>
  <p
    class="d-flex text-white fs-6 text-center enigma-font row fw-bold w-100 col mb-3"
  >
    {{ this.strResult }}
  </p>
</div>
