<div class="col justify-content-between rounded-2 bg-dark p-4 overflow-auto" style="min-height:270px;min-width: 500px;">
    <p class="text-white fs-4 w-100 text-center d-flex col">{{ability.name}}</p>
    <mat-form-field color="accent" class="w-100 d-flex col  mb-3" style="min-width: 200px;">
        <mat-label>Nome da perícia</mat-label>
        <input #newAbilityName matInput type="text" class="text-light" [value]="ability.name" aria-label="nome-skill"/>
    </mat-form-field>
    <editor [(ngModel)]="ability.description" [init]="{
      base_url: '/tinymce',
      suffix: '.min',
      language_url: 'languages/pt_BR.js',
      selector: 'textarea',
      height: 500,
      width: '100%',
      menubar: false,
      plugins: [
      ],
      codesample_languages: [
        {text: 'TypeScript', value: 'typescript'},
        {text: 'JavaScript', value: 'javascript'},
        {text: 'HTML/XML', value: 'markup'},
        {text: 'CSS', value: 'css'},
      ],
      toolbar:
        'undo redo | bold italic'
     }"></editor>
    <div class="mb-2"></div>
    <button mat-button class="float-end" (click)="editAbility(newAbilityName.value, ability.description)">OK</button>
</div>
