<ng-container *ngIf="!loading">
    <section class="container pb-2 pt-4 bg-dark rounded-3">
        <p class="text-center fs-1 text-light fw-bolder mb-4">Dashboard</p>
        <p class="text-center text-warning fs-3 fw-bold mb-4">FICHAS E PERSONAGENS</p>
        <div class="container d-flex flex-row flex-wrap justify-content-around">
            <div class="card mb-2 btn align-items-center" role="button" (click)="openCreateCharacterDialog()" style="width: 18rem; min-height: 300px;">
                <div class="card-body justify-content-center my-auto row align-items-center" >
                    <i class="bi bi-plus-square-fill text-dark h1"></i>
                </div>
            </div>
            <a class="card mb-2 btn" style="width: 18rem;" *ngFor="let character of charactersList" [routerLink]="['/personagens', character.id]" >
                <div class="card-img-top align-items-center pt-2" >
                    <img class="img-card mt-2 " src="../../assets/unknown_character.png" alt="">
                    <h3 class="text-center">{{ character.nome }}</h3>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Jogador: {{ character.jogador }}</h6>
                </div>
            </a>
        </div>
    </section>
    
    <section class="container w-100 px-0">
        <div class="d-flex flex-row flex-wrap row">
            <div class="d-flex col-md-6 mt-3">
                <div class="container rounded-3  pb-2 pt-5 pb-4 px-4 bg-dark col-md-12" style="min-height: 300px; min-width: 300px;">
                    <div class="row d-flex justify-content-between col-md-12">
                        <p class="text-start fs-3 fw-bold text-warning w-25">ATRIBUTOS</p>
                        <button class="btn btn-outline-success w-auto" (click)="openModal(attributeModal)">
                            <i class="bi bi-plus-lg text-light"></i>
                        </button>
                    </div>
                    <div class="row d-flex justify-content-between col-md-12 px-4 mt-3 py-2 overflow-auto" style="max-height: 400px;" >
                        <div class="row d-flex justify-content-between mb-2" *ngFor="let attribute of attributeList">
                            <button class="btn btn-outline-danger w-auto me-2 col-md-2" (click)="deleteAttribute(attribute.id)">
                                <i class="bi bi-trash3 text-light"></i>
                            </button>
                            <button class="btn btn-outline-success w-auto me-2 col-md-2" (click)="openEditDialog(attribute, false)">
                                <i class="bi bi-pencil text-light"></i>
                            </button>
                            <input class="form-control w-75 text-light" id="disabledInput" type="text" [value]="attribute.name" disabled style="background: none;border: none; border-bottom: 2px dashed rgba(173, 173, 173, 0.705);">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-flex col-md-6 mt-3">
                <div class="container rounded-3 pb-2 pt-5 px-4 bg-dark col-md-12" style="min-height: 300px; min-width: 300px;">
                    <div class="row d-flex justify-content-between col-md-12">
                        <p class="text-start fs-3 fw-bold text-warning w-25">HABILIDADES</p>
                        <button class="btn btn-outline-success w-auto" (click)="openModal(skillsModal)">
                            <i class="bi bi-plus-lg text-light"></i>
                        </button>
                    </div>
                    <div class="row d-flex justify-content-between col-md-12 px-4 py-2 mt-3 overflow-auto" style="max-height: 400px;">
                        <div class="row d-flex justify-content-between mb-2" *ngFor="let skill of skillList">
                            <button class="btn btn-outline-danger w-auto me-2 col-md-2" (click)="deleteSkill(skill.id)">
                                <i class="bi bi-trash3 text-light"></i>
                            </button>
                            <button class="btn btn-outline-success w-auto me-2 col-md-2" (click)="openEditDialog(skill, true)">
                                <i class="bi bi-pencil text-light"></i>
                            </button>
                            <input class="form-control w-75 text-light" id="disabledInput" type="text" [value]="skill.name" disabled style="background: none;border: none; border-bottom: 2px dashed rgba(173, 173, 173, 0.705);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container rounded-3 mt-3 pb-4 pt-4 ps-5 bg-dark ">
        <p class="text-center fs-2 fw-bold text-warning">CONFIGURAÇÕES</p>
        <div class="mt-2 row w-75">
            <label for="diceScreenTime" class="text-start fs-5 col-5 text-light w-auto">Tempo de dado na tela:</label>
            <input #diceScreenTime type="number" name="diceScreenTime" id="diceScreenTime" class="input-group-text col-1" [value]="gameSettings.diceScreenTime" [(ngModel)]="gameSettings.diceScreenTime" (change)="onChangeDiceScreenTime(diceScreenTime.value)" min="1" step="1" max="20" style="min-width:50px">
        </div>
        <div class="mt-2 row w-75">
            <label for="diceCooldown" class="text-start fs-5 col-5 text-light w-auto">Cooldown do dado:</label>
            <input #diceCooldown type="number" name="diceCooldown" id="diceCooldown" class="input-group-text col-1" [value]="gameSettings.diceCooldown" (change)="onChangeDiceCooldown(diceCooldown.value)" min="1" step="1" max="20" style="min-width:50px">
            <button class="btn btn-warning ms-2 w-auto" (click)="saveGameSettings()">Salvar</button>
        </div>
    </section>
</ng-container>

<div *ngIf="loading" class="row d-flex h-auto justify-content-center my-auto mx-auto align-items-center text-center">
    <div class="loadingio-spinner-spinner-3aqmknb0glr"><div class="ldio-am16zgcbh7f">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div></div>
</div>

<ng-template #skillsModal let-c="close" let-d="dismiss" class="col justify-content-between rounded-2 bg-dark p-4">
    <div class="col justify-content-between rounded-2 bg-dark p-4" style="min-height:270px;min-width: 200px;">
        <p class="text-white fs-4 w-100 text-center d-flex col">Criar nova habilidade</p>
        <mat-form-field color="accent" class="w-100 d-flex col  mb-3" style="min-width: 200px;">
            <mat-label>Nome da habilidade</mat-label>
            <input #newSkillName matInput type="text" class="text-light" aria-label="nome-habilidade"/>
        </mat-form-field>
        <mat-form-field color="accent" class="w-100 d-flex col " style="min-width: 150px;">
            <mat-label>Descrição</mat-label>
            <textarea #newSkillDescription matInput class="text-light" type="text" placeholder="Descrição"></textarea>
        </mat-form-field>
        <button mat-button class="float-end" (click)="createNewSkill(newSkillName.value, newSkillDescription.value)">OK</button>
    </div>
    
</ng-template>

<ng-template #attributeModal let-c="close" let-d="dismiss" class="col justify-content-between rounded-2 bg-dark p-4">
    <div class="col justify-content-between rounded-2 bg-dark p-4" style="min-height:270px;min-width: 200px;">
        <p class="text-white fs-4 w-100 text-center d-flex col mb-3">Criar novo atributo</p>
        <mat-form-field color="accent" class="w-100 d-flex col  mb-3" style="min-width: 200px;">
            <mat-label>Nome do atributo</mat-label>
            <input #attributeName matInput type="text" class="text-light" aria-label="nome-atributo"/>
        </mat-form-field>
        <mat-form-field color="accent" class="w-100 d-flex col " style="min-width: 150px;">
            <mat-label>Descrição</mat-label>
            <textarea #attributeDescription matInput class="text-light" type="text" placeholder="Descrição"></textarea>
        </mat-form-field>
        <button mat-button class="float-end" (click)="createNewAttribute(attributeName.value, attributeDescription.value)">OK</button>
    </div>
</ng-template>