<section class="container pb-2 pt-4 rounded-3 bg-full-black border border-secondary">
  <p class="text-center fs-1 text-light enigma-font fw-bolder mb-4">Dashboard</p>
  <p class="text-center text-warning fs-3 text-white enigma-font fw-bold mb-4">Ameaças</p>
  <div class="container d-flex flex-row flex-wrap justify-content-around">
    <div class="card mb-2 align-items-center" role="button" style="width: 250px;height:515px;border-radius: 10px;">
      <div class="card-body justify-content-center my-auto row align-items-center">
        <i class="bi bi-plus-square-fill text-dark h1"></i>
      </div>
    </div>
    <app-threats-card *ngFor="let threat of threatList" [threat]="threat"></app-threats-card>
  </div>
</section>
