<div class="col justify-content-between rounded-2 bg-dark py-4 pb-2" style="min-height:250px;max-width: 500px;min-width:300px;">
    <div class="row mb-2 px-4">
        <p class="text-light fs-4 fs-bold text-center">Perícias</p>
    </div>
    <div class="row px-4 d-flex flex-wrap justify-content-between overflow-auto btn-group mb-4" role="group" style="min-height:100px">
        <div class="col d-flex justify-content-between mb-2 d-flex text-wrap" style="min-height: 35px;height:fit-content;" *ngFor="let skill of chooseSkillList">
            <input type="checkbox" class="btn-check " [id]="'checkSkill'+skill.name" autocomplete="off" (change)="onSelectSkill(skill)">
            <label class="btn btn-outline-warning shadow-none" [for]="'checkSkill'+skill.name">{{skill.name}}</label>
        </div>
    </div>
    <div class="row px-4 align-bottom justify-content-center">
        <button role="button" type="button" class="btn btn-outline-light w-50" (click)="saveNewSkillList()">Adicionar</button>
    </div>
</div>
