.text-purple {
    color:white;
    text-shadow: 1px 1px 2px purple;
  }
  
  .text-yellow {
    color:white;
    text-shadow: 1px 1px 2px #ffc107;
  }
  
  .text-light-blue {
    color:white;
    text-shadow: 1px 1px 2px lightblue;
  }
  
  .text-red {
    color:white;
    text-shadow: 1px 1px 2px red;
  }
  
  .text-black {
    color:white;
    text-shadow: 1px 1px 1px black;
  }