
<div class="d-flex justify-content-end ">
    <mat-icon class="text-success h2" aria-hidden="false" aria-label="Example add icon" role="button" (click)="onAddClick()">add</mat-icon>
</div>

<div class="container py-2 bg-dark border border-secondary rounded d-flex flex-row flex-wrap justify-content-around" >
    <a class="card mb-2 btn" style="width: 18rem;" *ngFor="let personagem of personagensLista" [routerLink]="['/personagens', personagem.id]" >
        <div class="card-img-top align-items-center pt-2" >
            <img class="img-card mt-2" src="../../assets/unknown_character.png" alt="">
            <h3 class="text-center">{{ personagem.nome }}</h3>
        </div>
        <div class="card-body">
          <h6 class="card-title">Jogador: {{ personagem.jogador }}</h6>
        </div>
    </a>
</div>