<section class="container my-auto align-items-center text-center mx-auto py-4 px-4">
    <div class="d-flex row align-items-center justify-content-center text-center" style="top:50vh;height:100%;">
        <div>
            <h1 class="fs-1 fw-bold align-middle text-center text-light w-100">RPG Sheet Creator</h1>
            <button class="btn btn-primary rounded-3 text-white w-25 mt-4" style="min-width: 300px;" (click)="createNewGame()">Criar novo jogo</button>
        </div>
        <div>
          <p class="text-light fs-3" style="line-height: 50px;">
            Quer jogar um RPG com seus amigos?
          </p>
          <p class="text-light fs-3" style="line-height: 50px;">
            É só criar um novo jogo, enviar o link,
            configurar do seu jeito e se divertir :)
          </p>
          <p class="text-danger fs-3" style="line-height: 50px;">
            Lembrando que você deverá guardar esse link para não perder seu jogo, mas logo mais será criado um sistema para facilitar.
          </p>
          <p class="text-light fs-5" style="line-height: 50px;">
            Dúvidas e sugestões: <a href="http://twitter.com/firexter" class="link-warning" target="_blank">@FireXter</a>
          </p>
          <p class="text-light fs-6" style="line-height: 50px;">
            Feito com AngularJS.
          </p>
        </div>
    </div>
</section>
