<div class="col justify-content-between rounded-2 bg-dark p-4" style="min-height:270px;min-width: 200px;">
    <p class="text-white fs-4 w-100 text-center d-flex col">{{attribute.name}}</p>
    <mat-form-field color="accent" class="w-100 d-flex col  mb-3" style="min-width: 200px;">
        <mat-label>Nome do atributo</mat-label>
        <input #newAttributeName matInput type="text" class="text-light" [value]="attribute.name" aria-label="nome-atributo"/>
    </mat-form-field>
    <mat-form-field color="accent" class="w-100 d-flex col " style="min-width: 150px;">
        <mat-label>Abreviação</mat-label>
        <input #newAttributeAbbreviation matInput type="text" class="text-light" [value]="attribute.abbreviation" aria-label="abreviacao-atributo"/>
    </mat-form-field>
    <button mat-button class="float-end" (click)="editAttribute(newAttributeAbbreviation.value, newAttributeAbbreviation.value)">OK</button>
</div>
