.my-modal-content{
    background-color: transparent;
    border:none !important;
}

.my-modal-content .modal-header,
.my-modal-content .modal-body,
.my-modal-content .modal-footer {
  border: 0 !important;
}

.opacity30 {
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

.elevated-container {
  background:none;
  border: none; 
}