
<section class="container w-75 px-0 w-auto">
    <div class="d-flex flex-row flex-wrap row">
        <div class="d-flex col-md-6 mt-3 shadow">
            <div class="container rounded-3  pb-2 pt-4 pb-4 px-4 bg-dark col-md-12 min-height-300 min-width-300">
                <p class="text-center fs-2 paranormal-text fw-bold text-warning w-100 mb-4">Características</p>
                <div class="input-group justify-content-between">
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>Nome do Jogador(a)</mat-label>
                        <input matInput #inputPlayerName type="text" class="text-light" [(ngModel)]="character.playerName" aria-label="nome-jogador"/>
                    </mat-form-field>
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>Nome do personagem</mat-label>
                        <input matInput #inputName type="text" class="text-light" [(ngModel)]="character.name" aria-label="nome-personagem"/>
                    </mat-form-field>
                </div>
                <div class="input-group mb-3 justify-content-between">
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>Idade</mat-label>
                        <input matInput #inputAge type="number" class="w-auto text-light" [(ngModel)]="character.age" aria-label="nome-jogador"/>
                    </mat-form-field>
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>Gênero</mat-label>
                        <input matInput #inputGender type="text" class="w-auto text-light" [(ngModel)]="character.gender" aria-label="nome-personagem"/>
                    </mat-form-field>
                </div>
                <div class="input-group justify-content-between">
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>Origem</mat-label>
                        <input matInput #inputPlayerName type="text" class="text-light" [(ngModel)]="character.origin" aria-label="nome-jogador"/>
                    </mat-form-field>
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>Classe</mat-label>
                        <input matInput #inputName type="text" class="text-light" [(ngModel)]="character.class" aria-label="nome-personagem"/>
                    </mat-form-field>
                </div>
                <div class="input-group mb-3 justify-content-between">
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>NEX</mat-label>
                        <input matInput #inputNex type="string" class="w-auto text-light" [(ngModel)]="character.nex" aria-label="nome-jogador"/>
                    </mat-form-field>
                    <mat-form-field color="accent" class="w-auto min-width-250">
                        <mat-label>Patente</mat-label>
                        <input matInput #inputRank type="text" class="text-light" [(ngModel)]="character.rank" aria-label="nome-personagem"/>
                    </mat-form-field>
                </div>
                <button class="btn btn-outline-warning float-end shadow-none" type="button" (click)="saveCharacter()" role="button">Salvar</button>
            </div>
        </div>
        <div class="d-flex col-md-6 mt-3 shadow">
            <div class="container rounded-3  pb-2 pt-5 pb-4 px-4 bg-dark col-md-12 min-height-300 min-width-300">
                <p class="row mb-2 text-light fs-5">Vida</p>
                <div class="row d-flex mb-3">
                    <app-progress-bar [total]="character.maxHp" [value]="character.hp" (click)="openEditProgressBarValueDialog('hp')" role="button" [color]="'red'" class=" col-md-12 w-75" style="max-width: 465px;"></app-progress-bar>
                    <p class="text-light fs-5 col">{{character.hp}}/{{character.maxHp}}</p>
                </div>
                <p class="row mb-2 text-light fs-5">Sanidade</p>
                <div class="row d-flex mb-3">
                    <app-progress-bar [total]="character.maxSanity" [value]="character.sanity" (click)="openEditProgressBarValueDialog('sanity')" role="button" [color]="'blue'" class="col-md-12 w-75" style="max-width: 465px;"></app-progress-bar>
                    <p class="text-light fs-5 col">{{character.sanity}}/{{character.maxSanity}}</p>
                </div>
                <p class="row mb-2 text-light fs-5">Pontos de esforço</p>
                <div class="row d-flex mb-3">
                    <app-progress-bar [total]="character.maxStressPoints" [value]="character.stressPoints" (click)="openEditProgressBarValueDialog('stressPoints')" role="button" [color]="'yellow'" class="col-md-12 w-75" style="max-width: 465px;"></app-progress-bar>
                    <p class="text-light fs-5 col">{{character.stressPoints}}/{{character.maxStressPoints}}</p>
                </div>
                <app-roll-dice-dialog [characterName]="character.name"></app-roll-dice-dialog>
            </div>
        </div>
    </div>
</section>

<section class="container w-75 px-0 w-auto">
    <div class="d-flex flex-row flex-wrap row">
        <div class="d-flex col-md-6 mt-3 shadow">
            <div class="container rounded-3  pb-2 pt-5 pb-4 px-4 bg-dark col-md-12 min-height-300 min-width-300">
                <div class="row d-flex justify-content-between col-md-12">
                    <p class="text-center fs-2 paranormal-text fw-bold text-warning w-25 col">Defesas</p>
                </div>
                <div class="d-flex flex-wrap justify-content-between row row-cols-2 px-4 mt-3 py-2 overflow-auto" style="min-height: 150px;">
                    <div class="d-flex col justify-content-between mb-2 me-5 w-auto">
                        <div class="col">
                            <div class="card align-items-center bg-warning border-2 border-warning" role="button" style="width:fit-content;height:fit-content">
                                <div class="card-header bg-warning row pt-3 px-0 mx-0" style="width:115px;height:fit-content;">
                                    <p class="text-light text-center fs-5 text-break fw-bold user-select-none" style="text-shadow: 1px 1px 4px black;">Passiva</p>
                                </div>
                                <div class="card-body py-0 my-0 bg-dark rounded-bottom row align-items-center px-0 mx-0" style="width:115px;height:50px;">
                                    <input #attributeValue type="text" class="col form-control text-center border-0 shadow-none bg-transparent fw-bold text-light w-100" [(ngModel)]="character.passiveDefense" style="width:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col justify-content-between mb-2 me-5 w-auto">
                        <div class="col">
                            <div class="card align-items-center bg-warning border-2 border-warning" role="button" style="width:fit-content;height:fit-content">
                                <div class="card-header bg-warning row pt-3 px-0 mx-0" style="width:115px;height:fit-content;">
                                    <p class="text-light text-center fs-5 text-break fw-bold user-select-none" style="text-shadow: 1px 1px 4px black;">Bloqueio</p>
                                </div>
                                <div class="card-body py-0 my-0 bg-dark rounded-bottom row align-items-center px-0 mx-0" style="width:115px;height:50px;">
                                    <input #attributeValue type="text" class="col form-control text-center border-0 shadow-none bg-transparent fw-bold text-light w-100" [(ngModel)]="character.blockDefense" style="width:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col justify-content-between mb-2 me-5 w-auto">
                        <div class="col">
                            <div class="card align-items-center bg-warning border-2 border-warning" role="button" style="width:fit-content;height:fit-content">
                                <div class="card-header bg-warning row pt-3 px-0 mx-0" style="width:115px;height:fit-content;">
                                    <p class="text-light text-center fs-5 text-break fw-bold user-select-none" style="text-shadow: 1px 1px 4px black;">Esquiva</p>
                                </div>
                                <div class="card-body py-0 my-0 bg-dark rounded-bottom row align-items-center px-0 mx-0" style="width:115px;height:50px;">
                                    <input #attributeValue type="text" class="col form-control text-center border-0 shadow-none bg-transparent fw-bold text-light w-100" [(ngModel)]="character.dodgeDefense" style="width:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-md-6 mt-3 shadow">
            <div class="container rounded-3  pb-2 pt-5 pb-4 px-4 bg-dark col-md-12 min-height-300 min-width-300">
                <div class="row d-flex justify-content-between col-md-12">
                    <p class="text-center fs-2 paranormal-text fw-bold text-warning w-25 col">Atributos</p>
                    <button class="btn btn-outline-warning w-auto" (click)="openChooseAttributes()">
                        <i class="bi bi-plus-lg text-light"></i>
                    </button>
                </div>
                <div class="d-flex flex-wrap justify-content-between row row-cols-2 px-4 mt-3 py-2 overflow-auto" style="min-height: 150px;">
                    <div class="d-flex col justify-content-between mb-2 me-5 w-auto" *ngFor="let attribute of character.attributes">
                        <div class="col" (contextmenu)="deleteAttribute(attribute.id)">
                            <div class="card align-items-center bg-warning border-2 border-warning" role="button" style="width:fit-content;height:fit-content">
                                <div class="card-header bg-warning row pt-3 px-0 mx-0" style="width:115px;height:fit-content;">
                                    <p class="text-light text-center text-uppercase fs-3 fw-bold user-select-none" style="text-shadow: 1px 1px 4px black;">{{attribute.abbreviation}}</p>
                                    <p class="text-light text-center fs-6 text-break fw-bold user-select-none" style="text-shadow: 1px 1px 4px black;">{{attribute.name}}</p>
                                </div>
                                <div class="card-body py-0 my-0 bg-dark rounded-bottom row align-items-center px-0 mx-0" style="width:115px;height:50px;">
                                    <input #attributeValue type="text" class="col form-control text-center border-0 shadow-none bg-transparent fw-bold text-light w-100" [value]="attribute.value ?? 0" (change)="onChangedAttributeValue(attribute.id,+attributeValue.value)" style="width:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>

<section class="container w-75 px-0 w-auto">
    <div class="d-flex flex-row flex-wrap row">
        <div class="d-flex col-md-6 mt-3 shadow">
            <div class="container rounded-3 pb-2 pt-5 px-4 bg-dark col-md-12 min-height-300 min-width-300">
                <div class="row d-flex justify-content-between col-md-12">
                    <p class="text-center fs-2 paranormal-text fw-bold text-warning w-25 col">Habilidades</p>
                    <button class="btn btn-outline-warning w-auto" (click)="openChooseAbilities()">
                        <i class="bi bi-plus-lg text-light"></i>
                    </button>
                </div>
                <div class="d-flex flex-wrap justify-content-between row row-cols-2 ps-1 pe-4 mt-3 py-2 overflow-auto">
                    <div class="col d-flex justify-content-between mb-2 me-5 w-auto" *ngFor="let ability of character.abilities">
                        <button class="btn btn-outline-danger w-auto me-2 col" (click)="deleteAbility(ability.id)" style="height:fit-content;max-width: 40px;font-size: 14px;">
                            <i class="bi bi-trash3 text-light"></i>
                        </button>
                        <p role="button" class="btn btn-outline-warning text-light col me-3 text-nowrap text-center w-auto" (click)="openShowAbilityDetailsDialog(ability)">{{ability.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-md-6 mt-3 shadow">
            <div class="container rounded-3 pb-2 pt-5 px-4 bg-dark col-md-12 min-height-300 min-width-300">
                <div class="row d-flex justify-content-between col-md-12">
                    <p class="text-center fs-2 paranormal-text fw-bold text-warning w-25 col">Perícias</p>
                    <button class="btn btn-outline-warning w-auto" (click)="openChooseSkills()">
                        <i class="bi bi-plus-lg text-light"></i>
                    </button>
                </div>
                <div class="d-flex flex-wrap justify-content-between row row-cols-2 px-4 mt-3 py-2 overflow-auto">
                    <div class="d-flex col justify-content-between mb-2 me-5 w-auto" *ngFor="let skill of character.skills">
                        <div class="col">
                            <div class="card align-items-center bg-warning border-2 border-warning" role="button" style="width:fit-content;height:fit-content" (contextmenu)="deleteSkill(skill.id)">
                                <div class="card-header bg-warning row pt-3 px-0 mx-0" style="width:115px;height:fit-content;" (click)="openSkillDialog(skill)">
                                    <p class="text-light text-center fs-5 text-break fw-bold user-select-none" style="text-shadow: 1px 1px 4px black;">{{skill.name}}</p>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input bg-dark" type="radio" name="flexRadioDefault" [ngClass]="{'border-warning': skill.experienceLevel == 'destreinado'}" [checked]="skill.experienceLevel == 'destreinado'" (change)="onSelectSkillExperienceLevel('destreinado', skill)">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Destreinado
                                            </label>
                                          </div>
                                        <div class="form-check">
                                            <input class="form-check-input bg-dark" type="radio" name="flexRadioDefault" [ngClass]="{'border-warning': skill.experienceLevel == 'treinado'}" [checked]="skill.experienceLevel == 'treinado'" (change)="onSelectSkillExperienceLevel('treinado', skill)">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Treinado
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input bg-dark" type="radio" name="flexRadioDefault" [ngClass]="{'border-warning': skill.experienceLevel == 'competente'}" [checked]="skill.experienceLevel == 'competente'" (change)="onSelectSkillExperienceLevel('competente', skill)">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              Competente
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input bg-dark" type="radio" name="flexRadioDefault" [ngClass]="{'border-warning': skill.experienceLevel == 'expert'}" [checked]="skill.experienceLevel == 'expert'" (change)="onSelectSkillExperienceLevel('expert', skill)">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              Expert
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body py-0 my-0 bg-dark rounded-bottom row align-items-center px-0 mx-0" style="width:115px;height:50px;">
                                    <input #attributeValue type="text" class="col form-control text-center border-0 shadow-none bg-transparent fw-bold text-light w-100" [(ngModel)]="skill.value" style="width:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-md-6 mt-3 shadow">
            <div class="container rounded-3 pb-2 pt-5 px-4 bg-dark col-md-12 min-height-300 min-width-300">
                <div class="row d-flex justify-content-between col-md-12">
                    <p class="text-center fw-bold text-warning w-25 col fs-2 paranormal-text">Rituais</p>
                    <button class="btn btn-outline-warning w-auto" (click)="openChooseRituals()">
                        <i class="bi bi-plus-lg text-light"></i>
                    </button>
                </div>
                <div class="d-flex flex-wrap justify-content-between row row-cols-2 ps-1 pe-4 mt-3 py-2 overflow-auto">
                    <div class="col d-flex justify-content-between mb-2 me-5 w-auto" *ngFor="let ritual of character.rituals">
                        <button class="btn btn-outline-danger w-auto me-2 col" (click)="deleteRitual(ritual.id)" style="height:fit-content;max-width: 40px;font-size: 14px;">
                            <i class="bi bi-trash3 text-light"></i>
                        </button>
                        <p role="button" class="btn btn-outline-warning text-light col me-3 text-nowrap text-center w-auto paranormal-text" (click)="openShowRitualDetailsDialog(ritual)">{{ritual.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container w-75 px-0 w-auto">
    <div class="d-flex col mt-3 shadow">
        <div class="container rounded-3 pb-2 pt-5 px-4 bg-dark col-md-12 min-height-300 min-width-300 overflow-hidden" >
            <div class="row d-flex justify-content-between col-md-12">
                <p class="text-center fs-2 paranormal-text fw-bold text-warning col">Inventário</p>
            </div>
            <div class="row d-flex justify-content-between col-md-12">
                <p class="text-center fs-6 fw-bold text-light col">PESO: {{character.inventory != null ? +character.inventory.weight : 0}}/{{character.inventory != null ? +character.inventory.maxWeight : 0}}</p>
            </div>
            <div class="row d-flex justify-content-between col-md-12">
                <div class="form-group">
                    <button class="btn btn-outline-warning float-end" (click)="openCreateInventoryItemDialog()">
                        <i class="bi bi-plus-lg text-light"></i>
                    </button>
                </div>
            </div>
            <div class="overflow-auto" style="max-height: 300px;">
                <table class="table text-light">
                    <thead>
                      <tr >
                        <th scope="col"></th>
                        <th scope="col">Nome</th>
                        <th scope="col">Detalhes</th>
                        <th scope="col">Qtd.</th>
                        <th scope="col">Prestígio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of character.inventory.items">
                        <th scope="row">
                            <button class="btn btn-outline-danger w-auto me-2 col" style="height:fit-content;font-size: 14px;" (click)="deleteInventoryItem(item.id)">
                                <i class="bi bi-trash3 text-light text-center"></i>
                            </button>
                        </th>
                        <td>
                            <input #itemName type="text" class="col form-control text-center btn-light shadow-none bg-transparent text-light w-auto"  [value]="item.name ?? ''" [(ngModel)]="item.name" style="max-width:90px;height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <textarea #itemDetails type="text" class="col form-control text-center btn-light shadow-none bg-transparent text-light w-auto" [value]="item.details ?? ''" [(ngModel)]="item.details" style="max-width:500px;height:20px; font-size:12px;"></textarea>
                        </td>
                        <td>
                            <input #itemQuantity type="number" class="col form-control text-center btn-light shadow-none bg-transparent text-light w-auto" [value]="item.quantity ?? 0" [(ngModel)]="item.quantity" style="max-width:90px;height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #itemPrestigy type="text" class="col form-control text-center btn-light shadow-none bg-transparent text-light w-auto" [value]="item.prestige ?? ''" [(ngModel)]="item.prestige" style="max-width:90px;height:fit-content;font-size:12px;">
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="container w-75 px-0 w-auto">
    <div class="d-flex col mt-3 overflow-hidden shadow">
        <div class="container rounded-3 pb-2 pt-5 px-4 bg-dark shadow-lg col-md-12 min-height-300 min-width-300 overflow-hidden" >
            <div class="row d-flex justify-content-between col-md-12">
                <p class="text-center fs-2 paranormal-text fw-bold text-warning col">Armas</p>
                
            </div>
            <div class="row d-flex justify-content-between col-md-12">
                <div class="form-group">
                    <button class="btn btn-outline-warning w-auto float-end" (click)="openCreateWeaponDialog()">
                        <i class="bi bi-plus-lg text-light"></i>
                    </button>
                </div>
            </div>
            <div class="overflow-auto" style="max-height: 300px;">
                <table class="table text-light">
                    <thead>
                      <tr >
                        <th scope="col"></th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Ataque</th>
                        <th scope="col">Alcance</th>
                        <th scope="col">Dano</th>
                        <th scope="col">Crítico</th>
                        <th scope="col">Mun. Atual</th>
                        <th scope="col">Mun. Máxima</th>
                        <th scope="col">Especial</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let weapon of character.weapons">
                        <th scope="row"><button class="btn btn-outline-danger w-auto me-2 col" style="height:fit-content;font-size: 14px;" (click)="deleteWeapon(weapon.id)">
                            <i class="bi bi-trash3 text-light text-center"></i>
                        </button></th>
                        <td>
                            <input #weaponName type="text" class="col form-control text-center btn-light shadow-none bg-transparent text-light w-auto"   [value]="weapon.name ?? ''" [(ngModel)]="weapon.name" style="max-width:90px;height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #weaponTypeInput type="text" class="col form-control text-center btn-warning shadow-none bg-transparent text-light "   [value]="weapon.type ?? ''" [(ngModel)]="weapon.type" style="min-width:100px;max-width:120px; height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #weaponAttack type="text" class="col form-control text-center btn-warning shadow-none bg-transparent text-light "   [value]="weapon.attack ?? ''" [(ngModel)]="weapon.attack" style="min-width:100px;max-width:120px; height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #weaponRange type="text" class="col form-control text-center btn-warning shadow-none bg-transparent text-light "   [value]="weapon.range ?? ''" [(ngModel)]="weapon.range" style="min-width:100px;max-width:120px; height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #weaponDamageValue type="text" class="col form-control text-center btn-warning shadow-none bg-transparent text-light w-auto"   [value]="weapon.damage ?? ''" [(ngModel)]="weapon.damage" style="max-width:90px;height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #weaponCriticalDamageInput type="text" class="col form-control text-center btn-warning shadow-none bg-transparent text-light w-auto"   [value]="weapon.criticalDamage ?? ''" [(ngModel)]="weapon.criticalDamage" style="max-width:90px;height:fit-content; font-size:12px;">
                        </td>
                        <td>
                            <input #weaponCurrentAmmo type="number" class="col form-control text-center btn-warning shadow-none bg-transparent text-light "   [value]="weapon.currentAmmo ?? ''" [(ngModel)]="weapon.currentAmmo" style="width: 70px; height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #weaponMaxAmmo type="text" class="col form-control text-center btn-warning shadow-none bg-transparent text-light "   [value]="weapon.maxAmmo ?? ''" [(ngModel)]="weapon.maxAmmo" style="min-width:100px;max-width:120px; height:fit-content;font-size:12px;">
                        </td>
                        <td>
                            <input #weaponSpecial type="text" class="col form-control text-center btn-warning shadow-none bg-transparent text-light " [value]="weapon.special ?? ''" [(ngModel)]="weapon.special" style="min-width:100px;max-width:120px; height:fit-content;font-size:12px;">
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="container w-75 px-0 w-auto">
    <div class="d-flex flex-row flex-wrap row">
        <div class="d-flex col-md-6 mt-3" style="max-height: 400px;">
            <div class="container rounded-3  pb-2 pt-5 pb-4 px-4 bg-dark shadow-lg col-md-12 min-width-300">
                <p class="text-center fs-2 paranormal-text fw-bold text-warning w-100 col">Anotações</p>
                <textarea class="form-control w-100 bg-dark text-light border-warning" id="notes-text-area" style="height: 300px;max-height: 300px;" [(ngModel)]="character.notes" ></textarea>
            </div>
        </div>
        <div class="d-flex col-md-6 mt-3" style="max-height: 400px;">
            <div class="container rounded-3 shadow-lg pb-2 pt-5 pb-4 px-4 bg-dark col-md-12 min-width-300">
                <p class="text-center fs-2 paranormal-text fw-bold text-warning w-100 col">Proficiências</p>
                <textarea class="form-control w-100 bg-dark text-light border-warning" id="notes-text-area" style="height: 300px;max-height: 300px;" [(ngModel)]="character.proficiences" ></textarea>
            </div>
        </div>
    </div>
</section>
