<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <a class="navbar-brand">RPG System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLinkActive="active" routerLink="/personagens" class="nav-item nav-link" role="button">Personagens</a>
        <a routerLinkActive="active" routerLink="/create" routerLinkActive="router-link-active"  class="nav-item nav-link" role="button">Criar personagem</a>
      </div>
    </div>
</nav>

<div class="main">
    <section class="container pb-2 my-5">
      <router-outlet></router-outlet>
    </section>
</div>