.bg-warning {
    background-color: #e0ac10!important;
}

.bg-light-gray {
    background-color: rgb(233, 233, 233);
}

.text-red {
    color: red;
}

.text-blue {
    color: rgb(10, 93, 141);;
}

.text-green {
    color:green;
}

.text-purple {
    color:purple;
}