.bg-black {
  background-color: #000;
}

.elevated-shadow {
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  // create a soft white shadow
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
}

.fs-55 {
  font-size: 35px;
}

.fs-58 {
  font-size: 58px;
}

.divider {
  border-bottom: 0.5px solid #e1e1e027;
}

.fs-45 {
  font-size: 15px;
}

.fs-12 {
  font-size: 12px;
}

.border-green {
  border: 3px solid #088c48;
}

.border-white {
  border: 3px solid #fff;
}

.bg-warning {
  background-color: #e0ac10 !important;
}

.bg-light-gray {
  background-color: rgb(233, 233, 233);
}

.text-red {
  color: #f31b28;
}

.text-blue {
  color: #0073c0;
}

.text-green {
  color: #1b844d;
}

.text-purple {
  color: #6b2e8d;
}
