<a class="card bg-light-gray mb-2 btn" style="width: 250px;min-height: 500px;" [routerLink]="['/personagens', character.id]" (dragstart)="openDeleteCharacterDialog(character.id)">
    <div class="d-flex justify-content-center row">
        <div class="mt-2 align-center justify-content-center" style="width:fit-content;height:fit-content;">
            <img class="img rounded-circle" src="/../../assets/unknown_character.png" style="width:89px;height:90px;aspect-ratio: initial;" alt="">
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4 row">
        <p class="d-flex justify-content-center fs-5 text-center text-dark">{{ character.name | titlecase }}</p>
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center text-red">{{ character.hp}} / {{ character.maxHp}}</b>
            <b class="fs-5 text-center text-red fw-normal" >Vida</b>
        </div>    
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center text-blue">{{ character.sanity}} / {{ character.maxSanity}}</b>
            <b class="fs-5 text-center text-blue fw-normal" >Sanidade</b>
        </div> 
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center text-green">{{ character.stressPoints}} / {{ character.maxStressPoints}} </b>
            <b class="fs-5 text-center text-green fw-normal" >Pontos de Esforço</b>
        </div> 
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center text-dark">{{ character.inventory.weight }} / {{ character.inventory.maxWeight }}</b>
            <b class="fs-5 text-center text-dark fw-normal" >Peso do Inventário</b>
        </div> 
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center text-purple">9</b>
            <b class="fs-5 text-center text-purple fw-normal">Movimento</b>
        </div> 
    </div>
</a>