<div
  class="d-flex flex-column align-center w-auto h-auto mb-4"
  style="min-height: 150px"
>
  <a
    class="card bg-black elevated-shadow border rounded-3 border-2 border-warning mb-2 btn text-light h-auto w-auto"
    [routerLink]="['/characters', character.id]"
  >
    <div class="d-flex flex-column">
      <p
        class="d-flex justify-content-center align-center fs-5 text-center text-warning flex-row"
      >
        {{ character.name | titlecase }}
      </p>
      <div class="d-flex justify-content-between flex-row w-100">
        <div
          class="align-center justify-content-center flex-column h-auto w-auto"
        >
          <img
            class="img rounded-circle border-white character-img"
            src="{{ character.profileImageUrl }}"
            (error)="onImageError($event)"
            alt=""
          />
        </div>

        <div
          class="d-flex justify-content-center flex-column"
          style="gap: 10px"
        >
          <app-progress-bar
            [total]="character.maxHp"
            [value]="character.hp"
            [color]="'red'"
            style="max-width: 465px"
          ></app-progress-bar>
          <app-progress-bar
            [total]="character.maxSanity"
            [value]="character.sanity"
            [color]="'blue'"
            style="max-width: 465px"
          ></app-progress-bar>
        </div>
      </div>
      <div
        class="d-flex flex-column mt-2 justify-content-center align-center w-100"
      >
        <div class="mb-3 divider align-self-center w-100"></div>
        <div class="d-flex justify-content-center mb-1 w-100">
          <div
            class="justify-content-center"
            style="display: table-column; line-height: 1"
          >
            <p
              class="text-center"
              style="position: relative; display: table-header-group"
            >
              Pontos de Esforço
            </p>
            <p
              class="text-center text-green"
              style="
                position: relative;
                font-weight: 900;
                display: table-footer-group;
              "
            >
              <span class="fs-55" style="position: relative; left: 5px">{{
                character.effortPoints ?? 0
              }}</span
              ><span class="fs-45" style="position: relative; top: 8px"
                >/{{ character.maxEffortPoints ?? 0 }}</span
              >
            </p>
          </div>
        </div>
        <div
          class="d-flex justify-content-center mb-1"
          style="
            width: 220px;
            height: fit-content;
            border-radius: 10px;
            padding-top: 6px;
            padding-bottom: 6px;
          "
        >
          <div
            class="justify-content-center"
            style="display: table-column; line-height: 1"
          >
            <p
              class="text-center"
              style="position: relative; display: table-header-group"
            >
              Inventário
            </p>
            <p
              class="text-center text-light"
              style="
                position: relative;
                font-weight: 900;
                display: table-footer-group;
              "
            >
              <span class="fs-55" style="position: relative; left: 5px">{{
                character.inventory.usedSlots ?? 0
              }}</span
              ><span class="fs-45" style="position: relative; top: 8px"
                >/{{ character.inventory.maxSlots ?? 0 }}</span
              >
            </p>
          </div>
        </div>
        <div
          class="d-flex justify-content-center mb-1"
          style="
            width: 220px;
            height: fit-content;
            border-radius: 10px;
            padding-top: 6px;
            padding-bottom: 6px;
          "
        >
          <div
            class="justify-content-center"
            style="display: table-column; line-height: 1.3"
          >
            <p
              class="text-center"
              style="position: relative; display: table-header-group"
            >
              Defesas
            </p>
            <p
              class="text-center text-warning"
              style="
                position: relative;
                font-weight: 900;
                display: table-footer-group;
              "
            >
              <span class="fs-4"
                >{{ character.passiveDefense }} /
                {{ character.dodgeDefense }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="d-flex justify-content-center align-center w-100">
    <button
      class="btn btn-outline-danger w-content me-2 col-md-2"
      (click)="openDeleteCharacterDialog(character.id)"
    >
      <i class="bi bi-trash3 text-light"></i>
    </button>
  </div>
</div>
