<a class="card bg-secondary mb-2 btn" style="width: 250px;min-height: 500px;" [routerLink]="['/personagens', character.id]" (dragstart)="openDeleteCharacterDialog(character.id)">
    <div class="d-flex justify-content-center row">
        <div class="mt-2 align-center justify-content-center" style="width:fit-content;height:fit-content;">
            <img class="img rounded-circle" src="/../../assets/unknown_character.png" style="width:89px;height:90px;aspect-ratio: initial;" alt="">
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4 row">
        <p class="d-flex justify-content-center fs-5 text-center text-light">{{ character.name | titlecase }}</p>
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center" style="color: #ebb4ad;">{{ character.hp}} / {{ character.maxHp}}</b>
            <b class="fs-5 text-center text-light fw-normal" >Vida</b>
        </div>    
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center" style="color: #c3d9f4;">{{ character.sanity}} / {{ character.maxSanity}}</b>
            <b class="fs-5 text-center text-light fw-normal" >Sanidade</b>
        </div> 
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center" style="color: #c3aeeb;">14 / 14</b>
            <b class="fs-5 text-center text-light fw-normal" >Pontos de Ocultismo</b>
        </div> 
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center" style="color: #a9d3ba;">12.3 / 16</b>
            <b class="fs-5 text-center text-light fw-normal" >Peso do Inventário</b>
        </div> 
        <div class="d-flex justify-content-between row">
            <b class="fs-5 text-center" style="color: #71b0a3;">9</b>
            <b class="fs-5 text-center text-light fw-normal">Movimento</b>
        </div> 
    </div>
</a>