<div class="col justify-content-between rounded-2 bg-dark p-4" style="min-height:270px;min-width: 200px;">
    <p class="text-white fs-4 w-100 text-center d-flex col">{{gamePreference.name}}</p>
    <mat-form-field color="accent" class="w-100 d-flex col  mb-3" style="min-width: 200px;">
        <mat-label>Nome da habilidade</mat-label>
        <input #newGamePreferenceName matInput type="text" class="text-light" [value]="gamePreference.name" aria-label="nome-habilidade"/>
    </mat-form-field>
    <mat-form-field color="accent" class="w-100 d-flex col " style="min-width: 150px;">
        <mat-label>Descrição</mat-label>
        <textarea #newGamePreferenceDescription matInput class="text-light" type="text" [value]="gamePreference.description" placeholder="Descrição"></textarea>
    </mat-form-field>
    <button mat-button class="float-end" (click)="editPreference(newGamePreferenceName.value, newGamePreferenceDescription.value)">OK</button>
</div>
