<div class="text-center">
  <h1 class="text-light enigma-font black-transparent w-100">
    Loading server...
  </h1>
  <div
    class="row d-flex h-auto justify-content-center my-auto mx-auto align-items-center text-center"
  >
    <div class="loadingio-spinner-spinner-3aqmknb0glr">
      <div class="ldio-am16zgcbh7f">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <h3 class="text-light enigma-font black-transparent w-100">
    The server is hosted on a free host and it may take some time to start
  </h3>
</div>
