<div class="container py-2 bg-dark border border-secondary rounded d-flex flex-row flex-wrap justify-content-start" >
    <div class="card mb-2" style="width: 100%" >
        <form action="" class="d-flex flex-row card-body flex-wrap justify-content-around col">
            <div class="form-group row">
                <div class="form-group col">
                    <p class="h6 text-center">Características</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Nome</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nome do personagem" aria-label="nome-personagem"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Jogador(a)</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Jogador(a)" aria-label="nome-jogador"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Ocupação</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ocupação" aria-label="ocupacao"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Formação acadêmica</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Formação acadêmica" aria-label="formacao"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Idade</span>
                        </div>
                        <input type="number" class="form-control" placeholder="Idade" aria-label="idade"/>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Gênero</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Gênero" aria-label="genero"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Transtornos mentais</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Transtornos mentais" aria-label="transtornos-mentais"/>
                    </div>
                </div>
                <div class="form-group col-6">
                    <p class="h6 text-center">Rolagens</p>
                    <div class="input-group mb-3 justify-content-around">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">FOR</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">DES</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">INT</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">CON</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">APA</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">POD</span>
                        </div>
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">TAM</span>
                        </div>
                    </div>
                    <div class="input-group mb-3 justify-content-around">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(100)">SAN</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">EDU</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">Idéia</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">Sorte</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">Saber</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" role="button" (click)="rolarDado(20)">MOV</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Resultado</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Resultado" [value]="resultadoDado" readonly aria-label="Resultado" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col">
                    <p class="h6 text-center">Características</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Nome</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nome do personagem" aria-label="nome-personagem"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Jogador(a)</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Jogador(a)" aria-label="nome-jogador"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Ocupação</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ocupação" aria-label="ocupacao"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Formação acadêmica</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Formação acadêmica" aria-label="formacao"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Idade</span>
                        </div>
                        <input type="number" class="form-control" placeholder="Idade" aria-label="idade"/>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Gênero</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Gênero" aria-label="genero"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Transtornos mentais</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Transtornos mentais" aria-label="transtornos-mentais"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>