.bg-element {
    background: rgb(22, 22, 22);
  }
.bg-energia {
    background: purple;
  }
  
  .bg-conhecimento {
    background: #c09207;
  }
  
  .bg-medo {
    background: rgb(0, 145, 194);
  }
  
  .bg-sangue {
    background: red;
  }
  
  .bg-morte {
    background: black;
  }

  .text-style-dark {
    color:white;
    text-shadow: 1px 1px 4px black;
  }