<div class="col justify-content-between rounded-2 bg-dark p-4 w-auto h-auto overflow-hidden px-4" style="max-height:500px;max-width: 500px;min-width:300px;">
    <p class="text-white fs-2 fw-bold w-100 text-start d-flex col mb-3">{{ritual.name}}</p>
    <div class="row w-auto mb-3 ps-2 w-100">
        <div class="bg-{{element}} bg-element rounded-1 text-style-dark me-2 text-center" style="width:fit-content;height:20px;" *ngFor="let element of ritual.elements">
            {{element | titlecase}}
        </div>
    </div>
    <p class="text-white b-3 d-flex col text-break w-100" id="disabledInput" type="text" placeholder="Descrição">{{ritual.description}}</p>
    <button mat-button class="float-end" (click)="closeDialog()">OK</button>
</div>
