.bg-element {
    background: rgb(22, 22, 22);
  }
.bg-energia {
    background: purple;
  }
  
  .bg-conhecimento {
    background: #c09207;
  }
  
  .bg-medo {
    background: rgb(0, 145, 194);
  }
  
  .bg-sangue {
    background: red;
  }
  
  .bg-morte {
    background: black;
  }

  .text-style-dark {
    color:white;
    text-shadow: 1px 1px 4px black;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
    border-radius:10px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #7a7a7a; 
    border-radius:10px;
  }
   
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #ffc107; 
    border-radius:10px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #212529; 
    border-radius:10px;
  }