<div class="d-flex justify-content-between rounded-2 bg-dark p-4 w-auto h-auto overflow-hidden" style="max-height:500px;max-width: 500px;">
    <mat-form-field color="accent" class="w-auto row me-5" style="min-width: 150px;">
        <mat-label>Nome do personagem</mat-label>
        <input matInput #characterName type="text" class="text-light" aria-label="nome-personagem"/>
    </mat-form-field>
    
    <button mat-button class="float-end row" (click)="onConfirmClicked(characterName.value)">OK</button>
</div>