<section class="container pb-2 pt-5 ps-5 bg-dark">
    <p class="text-center fs-1 text-light">Configurações</p>
    <div class="mt-2 row w-50">
        <label for="diceScreenTime" class="text-start fs-5 col-5 text-light">Tempo de dado na tela:</label>
        <input type="number" name="diceScreenTime" id="diceScreenTime" class="input-group-text col-1" value="1" min="1" step="1" max="20">
    </div>
    <div class="mt-2 row w-50">
        <label for="diceCooldown" class="text-start fs-5 col-5 text-light">Cooldown do dado:</label>
        <input type="number" name="diceCooldown" id="diceCooldown" class="input-group-text col-1" value="1" min="1" step="1" max="20">
    </div>
    <div class="mt-2">
        <p class="text-start fs-5 text-light">Atributos:</p>
        <div class="container w-50">

        </div>
    </div>
    <div class="mt-2">
        <p class="text-start fs-5 text-light">Perícias:</p>
    </div>
</section>
